services:
  db:
    image: postgres:18
    container_name: devteam_ai_db
    environment:
      POSTGRES_DB: devteam_ai
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
       - postgres_data:/var/lib/postgresql  
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d devteam_ai"]
      interval: 10s
      timeout: 5s
      retries: 5  
volumes:
  postgres_data: